<template>
  <div class="container" id="container">
    <div class="mapIcon">
      <!-- <img
        @click="closeMapclick"
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/ditu_85_85.png"
        alt=""
      /> -->
    </div>
    <div class="searchCover" >
      <div class="draw" @click="draw">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/%E7%9F%A9%E5%BD%A2%E6%A1%86%E9%80%89.png"
          alt=""
        />
      </div>
      <input
        class="inputBox"
        @focus="getFocus"
        @input="getvalue"
        v-model="cameraName"
        placeholder="请输入摄像头名称"
        type="text"
      />
      <div class="camera_icon">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/%E4%BD%8E%E7%82%B9%E7%9B%B8%E6%9C%BA.png"
          alt=""
        />
      </div>
      <div class="saperate2">
        <img
          @click="getHighPointTree"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/%E5%88%86%E5%89%B2%E7%BA%BF.png"
          alt=""
        />
      </div>
      <div class="monitor_icon">
        <img
          @click="getHighPointTree"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/default_摄像机-1.png"
          alt=""
        />
      </div>
      <div class="saperate">
        <img
          @click="getHighPointTree"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/%E5%88%86%E5%89%B2%E7%BA%BF.png"
          alt=""
        />
      </div>
      <div class="search_icon">
        <img
          @click="getvalueSearch"
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/sousuo-bai.png"
          alt=""
        />
      </div>
    </div>
    <div class="selectCover" v-if="showSelectCover">
      <div class="close_icon" @click="hideSelectCover"></div>
      <div class="tabcomtainer">
        <div class="tabcard">
          <div
            :class="selectIndex == 1 ? ['tabitem', 'selectedbg'] : ['tabitem']"
            @click="selectType(1)"
          >
            监控类型
          </div>
          <div
            :class="selectIndex == 3 ? ['tabitem', 'selectedbg'] : ['tabitem']"
            @click="selectType(3)"
          >
            Poi类型
          </div>
          <div
            :class="selectIndex == 2 ? ['tabitem', 'selectedbg'] : ['tabitem']"
            @click="selectType(2)"
          >
            监控区域
          </div>
        </div>
        <div class="SearchCameraTypebox" v-if="selectIndex == 1">
          <div class="SearchCameraType">
            <div class="search_icon">
              <img
                @click="searchlabel"
                src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/sousuo-green.png"
                alt=""
              />
            </div>
            <input type="text" v-model="cameraTypesearch" @input="clearAll" />
          </div>
          <div
            class="cameraTypeCheckbox"
            :style="
              signTypelist.length >= 9
                ? 'overflow-y:scroll;'
                : 'overflow-y:none'
            "
          >
            <div class="checkall" v-if="showSelectall">
              <div class="checkbox_all" @click="selectAll">
                <img
                  v-if="Allselect"
                  class="unselect"
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/weixuan.png"
                  alt=""
                />
                <img
                  v-if="!Allselect"
                  class="isselect"
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/xuanzhong.png"
                  alt=""
                />
              </div>
              <span> 标签全选</span>
            </div>
            <div
              :class="item.selected ? ['checitem', 'select_bg'] : ['checitem']"
              class="checitem"
              v-for="(item, index) in signTypelist"
              :key="item.id"
            >
              <div class="checkbox_item" @click="selectItem(index)">
                <img
                  v-if="!item.selected"
                  class="unselect"
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/weixuan.png"
                  alt=""
                />
                <img
                  v-if="item.selected"
                  class="isselect"
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/xuanzhong.png"
                  alt=""
                />
              </div>
              <div class="checkbox_txt">
                <img
                  v-if="!item.selected"
                  :src="`${currentImg(item.typeName)}-1.png`"
                  alt=""
                />
                <img
                  v-if="item.selected"
                  :src="`${currentImg(item.typeName)}.png`"
                  alt=""
                />
                {{ item.typeName }}
              </div>
            </div>
          </div>
        </div>
        <div class="cameraAreaBox" v-if="selectIndex == 2">
          <div class="SearchCameraType">
            <div class="search_icon">
              <!-- <img
                src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/sousuo-green.png"
                alt=""
              /> -->
            </div>
            <input type="text" disabled />
          </div>
          <div class="searchCameraTree">
            <el-tree
              show-checkbox
              node-key="urns"
              ref="tree"
              highlight-current
              :expand-on-click-node="false"
              :load="loadNode"
              lazy
              :props="defaultProps"
              @check="clickCheck"
            >
            </el-tree>
          </div>
        </div>
        <div class="SearchCameraTypebox" v-show="selectIndex == 3">
          <div class="SearchCameraType">
            <div class="search_icon">
              <img
                src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/sousuo-green.png"
                alt=""
              />
            </div>
            <input type="text" disabled />
          </div>
          <div
            class="cameraTypeCheckbox"
            :style="
              poiTypelist.length >= 9 ? 'overflow-y:scroll;' : 'overflow-y:none'
            "
          >
            <div class="checkall" v-if="showSelectall">
              <div class="checkbox_all" @click="selectAllpoi">
                <img
                  v-if="Allpoiselect"
                  class="unselect"
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/weixuan.png"
                  alt=""
                />
                <img
                  v-if="!Allpoiselect"
                  class="isselect"
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/xuanzhong.png"
                  alt=""
                />
              </div>
              <span> 标签全选</span>
            </div>
            <div
              :class="item.selected ? ['checitem', 'select_bg'] : ['checitem']"
              class="checitem"
              v-for="(item, index) in poiTypelist"
              :key="item.id"
            >
              <div class="checkbox_item" @click="selectPoiItem(index)">
                <img
                  v-if="!item.selected"
                  class="unselect"
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/weixuan.png"
                  alt=""
                />
                <img
                  v-if="item.selected"
                  class="isselect"
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/xuanzhong.png"
                  alt=""
                />
              </div>
              <div class="checkbox_txt">
                <img
                  v-if="!item.selected"
                  :src="`${currentImg(item.typeName)}_white.png`"
                  alt=""
                />
                <img
                  v-if="item.selected"
                  :src="`${currentImg(item.typeName)}_yellow.png`"
                  alt=""
                />
                {{ item.typeName }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="selectCover" v-if="showHighPointTree">
      <div class="close_icon" @click="hideSelectCover"></div>
      <div class="tabcomtainer">
        <!-- 搜索框 -->
        <!-- <div class="SearchCameraTypebox">
          <div class="SearchCameraType">
            <div class="search_icon">
              <img
                @click="searchlabel"
                src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/sousuo-green.png"
                alt=""
              />
            </div>
            <input type="text" v-model="cameraTypesearch" @input="clearAll" />
          </div>
        </div> -->
        <!-- 树结构 -->
        <div class="cameraAreaBox">
          <div class="searchCameraTree">
            <el-tree
              show-checkbox
              node-key="id"
              ref="Htree1"
              highlight-current
              :expand-on-click-node="false"
              :data="highPointTree1"
              :props="defaultProps"
              @check="treeClickCheck"
            >
            </el-tree>
            <el-tree
              show-checkbox
              node-key="id"
              ref="Htree2"
              highlight-current
              :expand-on-click-node="false"
              :data="highPointTree2"
              :props="defaultProps"
              @check="treeClickCheck"
            >
            </el-tree>
          </div>
        </div>
      </div>
    </div>

    <singleCameraInfo v-if="singlecameraInfo"></singleCameraInfo>
    <cameraInfo v-if="cameraInfo"></cameraInfo>
    <!-- <div class="roadstatus" @click="getLukuang"></div> -->
  </div>
</template>

<script>
// import {computed} from 'vue';
import { toRaw } from "@vue/reactivity";
import { useStore, mapState } from "vuex";
import singleCameraInfo from "@/components/singleCameraInfo.vue";
import cameraInfo from "@/components/cameraInfo.vue";
import { WSconnect } from "@/utils/websocket";
export default {
  // setup(){
  //   const store = useStore();
  //   const singlecameraInfo = computed(
  //     mapState(['armap']).singlecameraInfo.bind({ $store: store })
  //   );
  //   return{
  //     singlecameraInfo
  //   }
  // },
  data() {
    return {
      // 默认打开tab  1=>监控类型 2=>监控区域
      selectIndex: 2,
      // 是否展示标签弹窗页面
      showSelectCover: false,
      // 是否展示高点树弹窗页面
      showHighPointTree: false,
      // 全选属性
      Allselect: true,
      // 标签列表
      signTypelist: [],
      // 摄像头列表
      cameraList: [],
      // 树结构
      data: [],
      // 地图参数
      params: {},
      //
      defaultProps: {
        children: "children",
        label: "name",
      },
      // 标签选择参数  调用查询摄像头接口使用
      labelList: [],
      // 单兵标签参数  调用单兵查询摄像头接口
      singleLabelList: [],
      // 监控类型搜索框参数
      cameraTypesearch: "",
      // 是否展示全选
      showSelectall: true,
      // 搜索摄像头的名字
      cameraName: "",
      // 图标列表
      currentImglist: [
        {
          name: "监控点",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/default_%E6%91%84%E5%83%8F%E6%9C%BA",
        },
        {
          name: "人卡",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/default_%E4%BA%BA%E5%8D%A1",
        },
        {
          name: "车卡",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/default_%E8%BD%A6%E5%8D%A1",
        },
        {
          name: "WIFI",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/wifi",
        },
        {
          name: "景区",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/default_%E6%99%AF%E5%8C%BA",
        },
        {
          name: "RFID",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/default_RFID",
        },
        {
          name: "警力",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/default_%E8%AD%A6%E5%8A%9B",
        },
        {
          name: "执勤点",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/default_%E6%89%A7%E5%8B%A4%E7%82%B9",
        },
        {
          name: "小区",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/default_%E5%B0%8F%E5%8C%BA",
        },
        {
          name: "楼宇",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/default_%E6%A5%BC%E5%AE%87",
        },
        {
          name: "学校",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/University",
        },
        {
          name: "警察",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/default_%E8%AD%A6%E5%AF%9F",
        },
        {
          name: "预案标签",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/plan",
        },
        {
          name: "GPS标签",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/gps",
        },
        {
          name: "高点标签",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/high_point",
        },
        {
          name: "AutoMark",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/automark",
        },
        {
          name: "道路",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/default_%E9%81%93%E8%B7%AF",
        },
        {
          name: "电子围栏",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/default_%E7%94%B5%E5%AD%90%E5%9B%B4%E6%A0%8F",
        },
        {
          name: "测试",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/default_%E6%91%84%E5%83%8F%E6%9C%BA",
        },
        {
          name: "单兵",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AF%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE/Individual",
        },
        {
          name: "地名地址信息",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_accommodation_service",
        },
        {
          name: "风景名胜",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_scenic_spot",
        },
        {
          name: "公共设施",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_accommodation_service",
        },
        {
          name: "公司企业",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_unit",
        },
        {
          name: "购物服务",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_shopping",
        },
        {
          name: "交通设施服务",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_transportation_facilities",
        },
        {
          name: "保险金融服务",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_accommodation_service",
        },
        {
          name: "科教文化服务",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_science_education_and_culture",
        },
        {
          name: "商务住宅",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_building",
        },
        {
          name: "生活服务",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_life",
        },
        {
          name: "事件活动",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_accommodation_service",
        },
        {
          name: "体育休闲服务",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_leisure_sports",
        },
        {
          name: "通行设施",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_pass",
        },
        {
          name: "医疗保健服务",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_medical_insurance",
        },
        {
          name: "政府机构及社会团体",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_government",
        },
        {
          name: "住宿服务",
          url: "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-map/poi/ic_accommodation_service",
        },
      ],
      poiSelected: [],
      poiTypelist: [],
      Allpoiselect: true,
    };
  },
  methods: {
    currentImg(name) {
      let arr = this.currentImglist.filter((item) => {
        return item.name == name;
      });
      console.log(arr[0].url);
      return arr[0].url;
    },
    getLukuang() {
      this.$store.commit("GET_LUKUANG");
    },
    clearAll() {
      if (this.cameraTypesearch == "") {
        this.showSelectall = true;
        this.signTypelist = [...this.labelTypeList];
      }
    },
    searchlabel() {
      if (this.cameraTypesearch) {
        let arr = [];
        this.labelTypeList.forEach((item) => {
          let a = item.typeName.indexOf(this.cameraTypesearch);
          if (a !== -1) {
            arr.push(item);
          }
        });
        this.signTypelist = [...arr];
        this.showSelectall = false;
      }
    },
    clickCheck(data, checked) {
      // console.log(data, checked);
      if (data.urn.group !== "camera") {
        // 非相机节点不可点击
        alert("请选择节点下的摄像机");
        this.$refs.tree.setCheckedKeys([]);
      } else {
        console.log(data);
        let dataparams = {
          id: data.urns,
          name: data.name,
          arCameraType: "normal",
        };
        this.$store.commit("TO_AR", dataparams);
        // 设置当前节点勾选状态并进行视频播放
        // this.$refs.tree.setCheckedKeys([data.urns]);
        // let params = {
        //   protocol: "HLS",
        //   level: "PRIMARY",
        //   cameraUrn: data.urns,
        //   adapterType: "hikvision",
        //   force: true,
        // };
        // this.$store.dispatch("connect", params);
      }

      // this.$refs.tree.setCheckedKeys([])
    },
    treeClickCheck(item, checked) {
      // console.log(item);
      // console.log(checked);
      // console.log(checked.checkedKeys.length);
      var length = checked.checkedKeys.length;
      this.$store.dispatch("QueryHPoint", {item,length});
    },
    clicktreeNode(data, node, current) {
      console.log(data, node, current);
    },
    loadNode(node, resolve) {
      if (node.level == 0) {
        // 初始化树节点
        return resolve([this.rootZone]);
      }
      if (node.level > 0) {
        // console.log(node.data.urn.id);
        this.$store
          .dispatch("subZones", {
            zoneId: `urn:hikvision:folder:${node.data.urn.id}`,
          })
          .then((res) => {
            // console.log(res);
            if (res.results.length > 0) {
              res.results.forEach((i) => {
                // console.log(i)
                i.urns = `urn:${i.urn.organization}:${i.urn.group}:${i.urn.id}`;
              });
              return resolve(res.results);
            } else {
              // console.log("zouzhe");
              this.$store
                .dispatch("streamCameras", {
                  zoneId: `urn:hikvision:folder:${node.data.urn.id}`,
                  start: 0,
                  count: 1000,
                })
                .then((res) => {
                  res.results.forEach((i) => {
                    // console.log(i)
                    i.urns = `urn:${i.urn.organization}:${i.urn.group}:${i.urn.id}`;
                  });
                  return resolve(res.results);
                });
            }
          });
      }
    },
    selectType(i) {
      // 切换tab
      this.selectIndex = i;
    },
    getFocus() {
      // 获取焦点=>标签列表
      // this.signTypelist = [{id:1,selectd:false,typeName:'name'}]
      this.signTypelist = [...this.labelTypeList];
      this.poiTypelist = [...this.poiresList];
      // 展示标签弹框
      this.showSelectCover = true;
      this.showHighPointTree = false;
    },
    // 获取输入框的值
    getvalue(val) {
      if (this.cameraName == "") {
        this.$store.commit("CLEAR_SEARCH_MARKER");
      }
    },
    // 根据输入框的值进行搜索
    getvalueSearch() {
      console.log(this.cameraName);
      this.$store.commit("CAMERA_SEARCH", this.cameraName);
    },
    hideSelectCover() {
      this.showSelectCover = false;
      this.showHighPointTree = false;
    },
    selectAllpoi() {
      if (this.Allpoiselect) {
        this.poiTypelist.forEach((item) => {
          item.selected = true;
        });
        this.poiSelected = this.allPoiSelect;
        this.Allpoiselect = !this.Allpoiselect;
        console.log(this.poiSelected);
        this.$store.dispatch("QueryPoiRes", {
          type: this.poiSelected,
          limit: 1000,
        });
      } else {
        this.poiTypelist.forEach((item) => {
          item.selected = false;
        });
        this.poiSelected = [];
        this.Allpoiselect = !this.Allpoiselect;
        console.log(this.poiSelected);
        this.$store.dispatch("QueryPoiRes", {
          type: this.poiSelected,
          limit: 1000,
        });
      }
    },
    selectPoiItem(index) {
      // this.$store.commit("CLEAR_CLUSTER");
      this.poiSelected = [];
      this.poiTypelist[index].selected = !this.poiTypelist[index].selected;
      let arr = this.poiTypelist.filter((item) => {
        return item.selected == true;
      });
      arr.forEach((item) => {
        this.poiSelected.push(item.typeName);
      });
      console.log(this.poiSelected);
      this.$store.dispatch("QueryPoiRes", {
        limit: 1000,
        type: this.poiSelected,
      });

      // 全选和全不选状态
      let len = arr.length;
      let l = toRaw(this.poiresList).length;
      if (len == l) {
        this.Allpoiselect = false;
      } else {
        this.Allpoiselect = true;
      }
    },
    selectAll() {
      // 定义两个变量一个是单兵的一个是其它设备的
      if (this.Allselect) {
        // 设置状态用来判断是够将websocket推送的点重置
        this.$store.commit("SHOW_DANBING_LIST", true);
        // 加载除了单兵的所有标签
        this.labelList = [...this.selectedAllLabel];
        // console.log(this.labelList);
        this.$store.dispatch("queryCameraByLabelType", this.labelList);
        // 加载单兵标签
        this.singleLabelList = [...this.selectedSinglebing];
        this.$store.dispatch(
          "querySingleCameraByLabelType",
          this.singleLabelList
        );
      } else {
        // 设置状态用来判断是够将websocket推送的点重置
        this.$store.commit("SHOW_DANBING_LIST", false);
        // 清空所有标签
        this.labelList = [];
        this.singleLabelList = [];
        // console.log(this.labelList);
        this.$store.dispatch("queryCameraByLabelType", this.labelList);
        this.$store.dispatch(
          "querySingleCameraByLabelType",
          this.singleLabelList
        );
      }
      // 全选和全不选状态
      this.Allselect = !this.Allselect;
      this.signTypelist.forEach((item) => {
        item.selected = !this.Allselect;
      });
    },
    selectItem(index) {
      this.$store.commit("CLEAR_CLUSTER");

      // 清空选中列表的标签
      this.labelList = [];
      this.singleLabelList = [];

      this.signTypelist[index].selected = !this.signTypelist[index].selected;
      // 获取选中的状态的标签列表
      let arr = this.signTypelist.filter((item) => {
        return item.selected == true;
      });

      // 传递参数labelList
      if (arr.length == 0) {
        this.$store.commit("SHOW_DANBING_LIST", false);
      } else {
        arr.forEach((element) => {
          console.log(element);
          this.$store.commit("SHOW_DANBING_LIST", false);
          // 添加选中状态,先判断是否有选中单兵
          if (element.typeName == "单兵") {
            console.log("有单兵");
            this.$store.commit("SHOW_DANBING_LIST", true);
            this.singleLabelList.push({ typeName: element.typeName });
          } else {
            this.labelList.push({ typeName: element.typeName });
          }
        });
      }

      // console.log(this.labelList)
      this.$store.dispatch("queryCameraByLabelType", this.labelList);
      this.$store.dispatch(
        "querySingleCameraByLabelType",
        this.singleLabelList
      );
      // console.log(arr)
      // 全选和全不选状态
      let len = arr.length;
      let l = toRaw(this.signTypelist).length;
      if (len == l) {
        this.Allselect = false;
      } else {
        this.Allselect = true;
      }
    },
    // call
    closeMapclick() {
      return function (f) {
        console.info(
          JSON.stringify({
            eventType: "markerClick",
            devices: [formatOutputInfo(f.deviceData)],
          })
        );
        if (
          typeof BgisInvokeWpf != "undefined" &&
          typeof BgisInvokeWpf.jsInvokWPF == "function"
        ) {
          let json = {
            eventType: "markerClick",
            devices: [formatOutputInfo(f.deviceData)],
          };
          try {
            BgisInvokeWpf.jsInvokWPF(JSON.stringify(json));
          } catch (e) {
            console.error(e);
          }
        }
      };
    },
    getHighPointTree() {
      this.showHighPointTree = true;
      this.showSelectCover = false;
    },
    draw() {
      console.log("111");
      this.$store.commit("DRAW");
    },
  },
  mounted() {
    // 获取地图信息
    var that = this;
    // var type = this.$route.query.type;
    var range = this.$route.query.range;
    this.$store.dispatch("getMapConfig").then((res) => {
      // console.log(res);
      that.params = {
        range: range,
        latitude: res.data.lat,
        longitude: res.data.lng,
        zoom: res.data.level,
      };
      // console.log(that.params);
      this.$store.commit("INIT_MAP", that.params);
    });
    // 加载地图
    var url =
      "http://ar-map.bearhunting.cn?type=detail&range=3&lng=121.506454&lat=31.217754";
    // console.log(this.$route.query);
    // console.log(this.params);
    // this.$store.commit("INIT_MAP",that.params);
    // console.log(this.singlecameraInfo);
    // this.$store.dispatch('queryCameraByLabelType',[{typeName:'监控点'}])
    // 调用接口获取标签列表
    this.$store.dispatch("labelType");
    // 获取初级节点
    this.$store.dispatch("rootZone");
    // 获取poi列表
    this.$store.dispatch("QueryPoiResType");
    // 获取高点树1
    this.$store.dispatch("getHPointTree1");
    // 获取高点树2
    this.$store.dispatch("getHPointTree2");
    // 加载websocket
    WSconnect();
    // 高点列表
    // 打开路况
    // setTimeout(() => {
    //   this.getLukuang()
    // }, 2000);
  },
  computed: {
    ...mapState({
      // armap
      // 视频框展示隐藏属性
      singlecameraInfo: (state) => state.armap.singlecameraInfo,
      cameraInfo: (state) => state.armap.cameraInfo,
      // 标签列表
      labelTypeList: (state) => state.armap.labelTypeList,
      // 全选时候的标签参数
      selectedAllLabel: (state) => state.armap.selectedAllLabel,
      // 初级节点
      rootZone: (state) => state.armap.rootZone,
      // 单兵设备选中标签参数
      selectedSinglebing: (state) => state.armap.selectedSinglebing,
      // poi列表
      poiresList: (state) => state.armap.poiresList,
      // 全选poi
      allPoiSelect: (state) => state.armap.allPoiSelect,
      // 高点树1
      highPointTree1: (state) => state.armap.HPointTree1,
      // 高点树2
      highPointTree2: (state) => state.armap.HPointTree2,
    }),
  },
  components: {
    singleCameraInfo,
    cameraInfo,
  },
};
</script>
<style>
.amap-ctrl-list-layer {
  top: 800px;
}
.amap-marker-label {
  white-space: normal;
}

.amap-marker-label {
  border: none;
  background: transparent;
  color: #777;
  font-size: 14px;
}
.amap-icon img {
  position: static !important;
}
/* 设置属性最外层的背景颜色为none */
.el-tree {
  background: none !important;
  color: #fff !important;
}
/* 设置三角图标颜色 */
.el-tree-node__expand-icon {
  color: #36beb7 !important;
  font-size: 24px !important;
}
/* 设置节点鼠标悬浮三角图标颜色 */
.el-tree-node__content:hover .el-tree-node__expand-icon {
  color: #36beb7 !important;
}
.el-tree-node__content:hover .el-tree-node__expand-icon.is-leaf {
  color: #36beb7 !important;
}
.el-tree-node__expand-icon.is-leaf {
  opacity: 0 !important;
}

/* 树节点鼠标悬浮是改变背景颜色字体颜色
 */
.el-tree-node__content:hover {
  background-color: transparent !important;
  color: #fff !important;
}
/* 被点击节点背景颜色字体颜色 */
.el-tree-node:focus > .el-tree-node__content {
  background: transparent !important;
  color: #fff !important;
}

/* 点击背景色 */

.el-tree-node > .el-tree-node__children > .is-current > .el-tree-node__content {
  background: transparent !important;
}
.el-tree--highlight-current > .is-current > .el-tree-node__content {
  background: transparent !important;
}

/* 勾選节点背景 */
.el-checkbox__inner {
  background: transparent !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner::after {
  transform: rotate(0deg) scaleY(1) !important;
  content: "" !important;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/xuanzhong.png")
    no-repeat !important;
  background-size: 100% 100% !important;
}
.el-checkbox__inner::after {
  content: "" !important;
  width: 18px !important;
  height: 15px !important;
  border: none !important;
  position: absolute !important;
  top: -2px !important;
  left: -0.5px !important;
}
</style>
<style lang='less' scoped>
.container {
  width: 100%;
  height: 100%;
  background: #fdfdfd;
  position: relative;
  .roadstatus {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 100px;
    height: 50px;
    background: #fff;
    z-index: 999;
  }
  .mapIcon {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 85px;
    height: 85px;
    z-index: 999;
    cursor: pointer;
  }
  .searchCover {
    position: absolute;
    // border: red 1px solid;
    top: 50px;
    left: 50px;
    width: 300px;
    height: 35px;
    background: rgba(16, 140, 168, 0.5);
    z-index: 999;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto 35px;
    grid-template-rows: 100%;
    box-shadow: 2px 2px 6px 0.5px #ccc;
    position: relative;
    .draw {
      position: absolute;
      // border: red 1px solid;
      left: 320px;
      width: 50px;
      height: 35px;
      background: rgba(16, 140, 168, 0.5);
      z-index: 999;
      border-radius: 5px;
      display: grid;
      grid-template-columns: auto 35px;
      grid-template-rows: 100%;
      box-shadow: 2px 2px 6px 0.5px #ccc;
      position: relative;

      img {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 7.5px;
        right: 15px;
        cursor: pointer;
      }
    }
    .inputBox{
      position: absolute;
      // border: red 1px solid;
      left: 10px;
      width: 180px;
    }
    input {
      width: 100%;
      height: 100%;
      border: none;
      background: none;
      outline: none;
      padding: 0 0 0 40px;
      color: white;
      box-sizing: border-box;
    }
    input::-webkit-input-placeholder {
      color: white;
    }
    input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: white;
    }
    input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: white;
    }
    input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: white;
    }
    .monitor_icon {
      // margin-right: 100px;
      display: flex;
      // border: solid 1px purple;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 40px;
      top: 5px;
      // position: relative;
      img {
        width: 25px;
        cursor: pointer;
      }
    }
    .saperate {
      // margin-right: 100px;
      display: flex;
      // border: solid 1px purple;
      width: 5px;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 30px;
      top: 3px;
      img {
        width: 1px;
        height: 30px;
        cursor: pointer;
      }
    }
    .saperate2 {
      // margin-right: 100px;
      display: flex;
      // border: solid 1px purple;
      width: 5px;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 30px;
      top: 3px;
      img {
        width: 1px;
        height: 30px;
        cursor: pointer;
      }
    }
    .camera_icon {
      display: flex;
      // border: solid 1px red;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 10px;
      top: 7px;
      img {
        width: 18px;
        cursor: pointer;
      }
    }

    .search_icon {
      position: absolute;
      right: 9px;
      top: 9px;
      // width: 20px;
      display: flex;
      // border: solid 1px red;
      justify-content: center;
      align-items: center;
      img {
        width: 16px;
        cursor: pointer;
      }
    }
  }
  .selectCover {
    position: absolute;
    top: 105px;
    left: 50px;
    width: 300px;
    height: 500px;
    z-index: 999;
    background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/bg-big.png")
      no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    box-sizing: border-box;
    .close_icon {
      width: 30px;
      height: 30px;
      position: absolute;
      top: -10px;
      right: -10px;
      background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/guanbi.png")
        no-repeat;
      background-size: 100% 100%;
      cursor: pointer;
    }
    .tabcomtainer {
      width: 100%;
      height: 100%;
      transition: all 1s;
      .tabcard {
        height: 40px;
        width: 100%;
        display: flex;

        .tabitem {
          flex: 1;
          text-align: center;
          line-height: 30px;
          color: white;
          background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/top-2.png")
            no-repeat;
          background-size: 100% 100%;
          margin-right: 2px;
          cursor: pointer;
        }
        .selectedbg {
          background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/top-1.png")
            no-repeat;
          background-size: 100% 100%;
          color: #18fffc;
        }
      }
      .SearchCameraTypebox,
      .cameraSceneBox {
        .SearchCameraType {
          height: 30px;
          width: 100%;
          border-bottom: 2px solid #4598a0;
          display: grid;
          grid-template-columns: 30px auto;
          grid-template-rows: 100%;
          .search_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 16px;
              cursor: pointer;
            }
          }
          input {
            width: 100%;
            height: 100%;
            border: none;
            background: none;
            outline: none;
            padding: 0 10px;
            color: #3baca9;
            box-sizing: border-box;
          }
        }
        .cameraTypeCheckbox {
          padding: 5px 10px;
          box-sizing: border-box;
          height: 390px;
          // overflow-y: scroll;
          .checkall {
            height: 28px;
            display: grid;
            grid-template-columns: 35px auto;
            grid-template-rows: 100%;
            .checkbox_all {
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                cursor: pointer;
              }
              .unselect {
                width: 17px;
              }
              .isselect {
                padding-left: 4px;
                width: 22px;
              }
            }
            span {
              line-height: 28px;
              color: #b0bbc0;
              font-size: 14px;
              text-align: left;
            }
          }
          .checitem {
            height: 40px;
            display: grid;
            grid-template-columns: 35px auto;
            grid-template-rows: 100%;

            .checkbox_item {
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                cursor: pointer;
              }
              .unselect {
                width: 17px;
              }
              .isselect {
                padding-left: 4px;
                width: 22px;
              }
            }
            .checkbox_txt {
              line-height: 35px;
              color: #fff;
              font-size: 14px;
              text-align: left;
              padding-left: 10px;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              img {
                width: 16px;
                margin-right: 40px;
              }
            }
          }
          .select_bg {
            background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/dise.png")
              no-repeat;
            background-size: 100% 100%;
            color: #bfcb6e;
          }
        }
        /*滚动条整体样式*/
        .cameraTypeCheckbox::-webkit-scrollbar {
          width: 5px;
          height: 1px;
        }
        /*滚动条滑块*/
        .cameraTypeCheckbox::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 5px rgba(5, 152, 161, 0.2);
          background: #0598a1;
        }
        /*滚动条轨道*/
        .cameraTypeCheckbox::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
          border-radius: 10px;
          background: #233238;
        }
      }
      .cameraAreaBox {
        .searchCameraTree {
          width: 100%;
          height: 400px;
          // background: oldlace;
          overflow-y: scroll;
        }
        /*滚动条整体样式*/
        .searchCameraTree::-webkit-scrollbar {
          width: 5px;
          height: 1px;
        }
        /*滚动条滑块*/
        .searchCameraTree::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 5px rgba(5, 152, 161, 0.2);
          background: #0598a1;
        }
        /*滚动条轨道*/
        .searchCameraTree::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
          border-radius: 10px;
          background: #233238;
        }
        .SearchCameraType {
          height: 30px;
          width: 100%;
          border-bottom: 2px solid #4598a0;
          display: grid;
          grid-template-columns: 30px auto;
          grid-template-rows: 100%;
          .search_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 16px;
              cursor: pointer;
            }
          }
          input {
            width: 100%;
            height: 100%;
            border: none;
            background: none;
            outline: none;
            padding: 0 10px;
            color: #3baca9;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
</style>
