<template>
  <div class="singleCameraInfobox">
    <div class="cameraVideobox">
      <div class="close_icon" @click="closeVideo">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/guanbi.png"
          alt=""
        />
      </div>
      <div class="camera_title" @click="sendPullVideoCmd">{{devname}}</div>
      <div class="camera_video">
        <videoStream
          :visible="videoConnect"
          :url="hlsUrl"
          reffer="bearhunting-reffer"
        ></videoStream>
      </div>
    </div>
  </div>
</template>

<script>
import videoStream from "./videoSream.vue";
import { mapState } from "vuex";
export default {
  data() {
    return {
      hlsVisible: false,
      hlsUrl:''
    };
  },
  computed: {
    ...mapState({
      videoConnect: (state) => state.armap.videoConnect,
      devname: (state) => state.armap.devname,
    }),
  },
  methods: {
    handleHideVideo: function () {
      this.hlsVisible = false;
    },
    closeVideo(){
      this.$store.commit('SHOW_CAMERA_WINDOW',false)
    }
  },
  mounted() {
    console.log(this.videoConnect)
    this.hlsUrl = this.videoConnect
  },
  components: {
    videoStream,
  },
};
</script>

<style lang='less' scoped>
.singleCameraInfobox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  .cameraVideobox {
    width: 800px;
    height: 560px;
    position: relative;
    padding: 30px;
    background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/bg_shiping%402x.png")
      no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    .close_icon {
      width: 40px;
      height: 40px;
      position: absolute;
      top: -20px;
      right: -20px;
      background: transparent;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .camera_title {
      text-align: left;
      font-size: 20px;
      font-weight: 800;
      height: 30px;
      margin: 0 0 15px 0;
    }
    .camera_video {
      height: calc(100% - 46px);
      background: turquoise;
    }
  }
}
</style>