<template>
  <div class="infowin">
    <div
      class="infoItem"
      v-for="(item, index) in msg"
      @click="handleConnectVideo(item)"
      :key="index"
    >
      <img style="width: 30px; height: 40px" :src="getImgUrl(item)" />

      <span
        style="color: #00edfb; padding-left: 5px"
        :title="
          item.itemdata.devName
            ? item.itemdata.devName
            : item.itemdata.customName
        "
      >
        {{
          item.itemdata.devName
            ? item.itemdata.devName
            : item.itemdata.customName
            ? item.itemdata.customName
            : item.itemdata.name
        }}
      </span>
    </div>
  </div>
</template>
<script>
import { selectdeviceIcon } from "@/utils/deviceIcon";
import store from "@/store/index";
export default {
  data() {
    return {};
  },
  props: ["msg"],
  methods: {
    // 根据摄像机类型进行筛选图标
    getImgUrl: function (val) {
      console.log(val);
      if (val.itemdata.type) {
        if(val.itemdata.type == "hightCamera"){
          return selectdeviceIcon("高点");
        }
        if(val.itemdata.type == "camera"){
          return selectdeviceIcon("camera");
        }
      } else {
        if (val.itemdata.markType == "单兵") {
          return selectdeviceIcon(
            `${val.itemdata.markType}_${val.itemdata.status}`
          );
        } else {
          return selectdeviceIcon(val.itemdata.markType);
        }
      }
    },
    handleConnectVideo(item) {
      console.log(item.itemdata.devName);
      if (item.itemdata.markType == "单兵") {
        store.commit("GET_SINGLE_DEVID", item.itemdata.devId.split("db:")[1]);
        store.commit("GET_DEV_NAME", item.itemdata.devName);
        // 加载地图框标题
        store.commit("SHOW_SINGLE_WINDOW", true);
      } else if (item.itemdata.markType == "高点") {
        Object.assign(item.itemdata, { arCameraType: "ar" });
        store.commit("TO_AR", item.itemdata);
      } else {
        Object.assign(item.itemdata, { arCameraType: "normal" });
        store.commit("TO_AR", item.itemdata);
      }
      // else if (item.itemdata.markType == "高点") {
      //   store.commit("TO_AR", item.itemdata);
      // }
      // else {
      //   if (item.itemdata.type) {
      //     let params = {
      //       protocol: "HLS",
      //       level: "PRIMARY",
      //       cameraUrn: item.itemdata.id,
      //       adapterType: "hikvision",
      //       force: true,
      //     };
      //     store.commit("GET_DEV_NAME", item.itemdata.name);
      //     store.dispatch("connect", params);
      //   } else {
      //     let params = {
      //       protocol: "HLS",
      //       level: "PRIMARY",
      //       cameraUrn: item.itemdata.devId,
      //       adapterType: "hikvision",
      //       force: true,
      //     };
      //     store.commit("GET_DEV_NAME", item.itemdata.devName);
      //     store.dispatch("connect", params);
      //   }
      //   // this.$store.commit("SHOW_CAMERA_WINDOW", true);
      // }
    },
  },
  mounted() {},
};
</script>
<style lang="less">
.amap-info-content {
  padding: 0 !important;
  background: transparent !important;
}
.amap-info-content:hover {
  box-shadow: none !important;
}
.amap-info-sharp {
  display: none;
}
// .amap-info-close{
//     display: none;
// }
.camBox {
  padding: 10px 0;
  width: 200px;
  height: 300px;
  background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/bg-xiao.png")
    no-repeat;
  background-size: 100% 100%;
  padding-top: 20px;
  box-sizing: border-box;
}

.close_icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  right: -20px;
  background: burlywood;
}
.infowin {
  width: 200px;
  max-height: 270px;
  overflow-y: scroll;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  .infoItem {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.infowin::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.infowin::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #00edfb;
}
.infowin::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #273840;
}
</style>
