<template>
  <div class="singleCameraInfobox">
    <div class="cameraVideobox">
      <div class="close_icon" @click="closeVideo">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/guanbi.png"
          alt=""
        />
      </div>
      <div class="camera_title" @click="sendPullVideoCmd">{{devname}}</div>
      <div class="camera_video">
        <video
          style="display: inline-block; width: 100%; height: 100%"
          controls
          autoplay
          id="remote"
        ></video>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { mapState } from "vuex";
export default {
  data() {
    return {
      serverUrl: "http://pdgis.intcity.com.cn:50001/gis", //客戶端后台服务地址
      loginName: "nhxcdd02", //客户端账号
      password: "110aA110", //客户端账号密码
      videoServer: "pdmedia.intcity.com.cn:8188", //视频服务器地址
      mqttServer: "pdpush.intcity.com.cn:8083/mqtt", //信令地址
      remoteId: "5385264", //终端uid(remoteId)
      mqttUserName: "", //信令登录账号
      dispatchId: "", //终端账号id
      dispatchUserId: "", //终端账号绑定终端的id
      code: "8888", //验证码
      codeId: "", //后台验证码
      mqttClicent: null, //
      token: "",
      serverInfo: "ws://video.hawk-sight.com:8188",
    };
  },
  methods: {
    closeVideo() {
      this.closeRVideo()
      this.$store.commit("SHOW_SINGLE_WINDOW", false);
    },
    clientLogin(loginName, password, codeId) {
      axios
        .post(
          `${this.serverUrl}/auth/open/login3`,
          {
            loginName: loginName,
            password: password,
            code: this.code,
          },
          {
            headers: {
              "code-id": codeId,
            },
          },
          { withCredentials: true }
        )
        .then((res) => {
          console.log(res);
          this.token = res.data.data.token;
          this.getHomeMessage(this.token);
        });
    },
    getCode() {
      // return new Promise(()=>{
      axios.get(`${this.serverUrl}/auth/open/verifyCode`).then((code) => {
        if (code.status == 200) {
          this.codeId = code.headers["code-id"];
          this.clientLogin(this.loginName, this.password, this.codeId);
        }
      });
      // })
    },
    getHomeMessage(token) {
      axios
        .get(
          `${this.serverUrl}/api/sysUser/home`,
          {
            headers: {
              "pc-access-token": token,
            },
          },
          { withCredentials: true }
        )
        .then((res) => {
          console.log(res);
          if (res.data.status == 200) {
            this.dispatchUserId = res.data.data.bindingUserId;
            this.mqttUserName = res.data.data.bindingAccount;
            this.dispatchId = res.data.data.user.id;

            this.connectMqtt(
              this.dispatchUserId,
              this.mqttUserName,
              this.dispatchId
            );
          }
        });
    },
    connectMqtt(dispatchUserId, mqttUserName, dispatchId) {
      // console.log(dispatchUserId, mqttUserName, dispatchId);
      if (this.mqttClicent) {
        this.mqttClicent.clentDisconnect();
      }
      this.mqttClicent = new MqttClient({
        mqttUserName: mqttUserName,
        dispatchId: dispatchId,
        dispatchUserId: dispatchUserId,
        mqttServer: this.mqttServer,
      });
      //订阅终端接受了视频请求并且成功将视频上传至视频服务器，并携带视频在服务器的参数信息
      this.mqttClicent.subscribeTerminalAck((data) => {
        console.log(data);
        this.pullRVideo(data.roomId, data.userId, data.mediaId, data.server);
        // this.sendPullVideoCmd(data.roomId, data.userId, data.mediaId, data.server);
      });
    },
    pullRVideo(roomId, userId, mediaId, server) {
      let that = this;
      // if (server) {
      //   //可动态设置视频服务器地址
      this.init_video(server);
      // }
      console.log(roomId, userId, mediaId, server);
      this.pullCall = new SubscibeVideo();

      this.pullCall.init({
        success: function () {
          that.pullCall.openRemoteVideo({
            videoWnd: document.getElementById("remote"),
            roomId: roomId,
            userId: userId,
            videoId: mediaId,
            isAudio: true,
            isVideo: true,
            success: function (e) {
              console.log("remote video open success!");
              // document.getElementById("sycCallStatus").innerText = "成功";
            },
            videoClose: function () {
              that.pullCall = null;
            },
            error: function (err) {
              console.error(err);
              // document.getElementById("sycCallStatus").innerText = "失败";
            },
          });
        },
        error: function (err) {
          console.log("init pull video fail:" + err);
        },
      });
    },
    // 拉取视频
    sendPullVideoCmd() {
      console;
      let cmd = {
        cmd: "call",
        to: this.sindevId, // 目标者Id
        from: this.dispatchId, // 来源者Id
        name: "测试账号",
        sessionId: "", // 会话Id由会话发起者创建
        timestamp: new Date().getTime(), // 时间戳(单位: 秒)
        data: {
          calltype: "dispatch",
          server: "", // 媒体服务器地址(带端口)
          roomId: "", // 媒体房间Id
          userId: "", // 媒体服务器中的用户Id,
          mediaId: "", // 呼叫方的媒体Id, 同时存在userId与mediaId则为双向通话, 被叫方需要到服务器中拉取呼叫方的多媒体数据
          audio: true, // 是否带音频
          video: true, // 是否带视频（注：音频视频不能同时为false）
          videoRatio: "640*480", // 被拉取方的要求上传的视频分辨率 高清 1280*720 / 标清 640*480 / 流畅 320*240
        },
      };
      console.log("toid", cmd);
      setTimeout(() => {
        this.mqttClicent.clientSentCmd(cmd, this.sindevId);
      });
    },
    init_video(videoServer) {
      // let Janus = new Janus();
      let that = this;
      initLibrary(function (ok) {
        setServerInfo(videoServer);
        console.log("init video library succeed.");
      });
    },
    closeRVideo() {
      let cmd = {
        cmd: "bye",
        to: this.remoteId,
        from: this.dispatchId, // 来源者Id
        sessionId: "",
        timestamp: new Date().getTime(), // 时间戳(单位: 秒)
        data: {
          calltype: "dispatch",
        },
      };
      this.mqttClicent.clientSentCmd(cmd, this.remoteId);
      try {
        if (this.pullCall) {
          //关闭终端的视频
          this.pullCall.closeRemoteVideo();
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
  computed: {
    ...mapState({
      sindevId: (state) => state.armap.sindevId,
      devname: (state) => state.armap.devname,
    }),
  },
  mounted() {
    this.getCode();
    setTimeout(() => {
      this.sendPullVideoCmd();
    }, 500);
  },
};
</script>

<style lang="less" scoped>
.singleCameraInfobox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  .cameraVideobox {
    width: 800px;
    height: 560px;
    position: relative;
    padding: 30px;
    background: url("https://bh-frontend.oss-cn-shanghai.aliyuncs.com/ar-manage/%E4%B8%B4%E6%B8%AFAR%E5%9C%B0%E5%9B%BE%E5%88%87%E5%9B%BE%E7%B4%A0%E6%9D%90/bg_shiping%402x.png")
      no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    .close_icon {
      width: 40px;
      height: 40px;
      position: absolute;
      top: -20px;
      right: -20px;
      background: transparent;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .camera_title {
      text-align: left;
      font-size: 20px;
      font-weight: 800;
      height: 30px;
      margin: 0 0 15px 0;
    }
    .camera_video {
      height: calc(100% - 46px);
      background: black;
    }
  }
}
</style>
